<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.goolel"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

 
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
 
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
 
    <!-- Creates a custom permission so only this app can receive its messages. -->
    <permission
        android:name="com.goolel.pushnotifications.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
 
    <uses-permission android:name="com.goolel.pushnotifications.permission.C2D_MESSAGE" />
 
    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />
 
   
 
    <!-- Permission to vibrate -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".signup"
            android:screenOrientation="portrait"
            android:theme="@style/AppcompatTheme" >
        </activity>
        <activity
            android:name=".forgotpass"
            android:screenOrientation="portrait"
            android:theme="@style/AppcompatTheme" >
        </activity>
        <activity
            android:name=".uploadscreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppcompatTheme" >
        </activity>
        <activity
            android:name=".changepassword"
            android:screenOrientation="portrait"
            android:theme="@style/AppcompatTheme" >
        </activity>
        <activity
            android:name=".EditProfile"
            android:screenOrientation="portrait"
            android:theme="@style/AppcompatTheme" >
        </activity>
        <activity
            android:name=".SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppcompatTheme" >
        </activity>
        <activity
            android:name=".SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppcompatTheme" >
        </activity>
        <activity
            android:name=".AddVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppcompatTheme" >
        </activity>
        <activity
            android:name=".NotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppcompatTheme" >
        </activity>
        <activity
            android:name=".SelectLanguageActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SearchTitleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppcompatTheme" >
        </activity>
        <activity
            android:name=".SearchDate"
            android:screenOrientation="portrait"
            android:theme="@style/AppcompatTheme" >
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help"
            android:screenOrientation="portrait"
            android:theme="@style/AppcompatTheme" >
        </activity>
        <activity
            android:name=".SearchVideoActivity"
            android:label="@string/title_activity_search_video"
            android:screenOrientation="portrait"
            android:theme="@style/AppcompatTheme" >
        </activity>
        <activity
            android:name=".SearchResultActivity"
            android:label="@string/title_activity_search_result"
            android:screenOrientation="portrait"
            android:theme="@style/AppcompatTheme" >
        </activity>
       
         
       
 
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
 
                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
 
                <category android:name="com.goolel" />
            </intent-filter>
        </receiver>
 
        <service android:name=".GCMIntentService" />
  
    </application>

</manifest>